*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background-color: black;
}
div{
	background-color: white;
	color:black;
	margin: 0 auto;
}